:root {
  --accent-color-h: 200;
  --accent-color-s: 60%;
  --accent-color-l: 65%;
  --accent-light-color: hsl(var(--accent-color-h), var(--accent-color-s), 80%);
  --menuitem-active-bg-color: var(--accent-color);
  --item-background-hover: rgba(144, 221, 233, 0.24);
}

body {
  min-width: 375px;
}

body .ui-datatable tbody tr.ui-state-hover,
body .ui-datatable tbody tr.ui-state-highlight,
body .ui-datatable tbody tr.ui-datatable-even.ui-state-hover,
body .ui-datatable tbody tr.ui-datatable-even.ui-state-highlight {
  background: var(--item-background-hover);
}

.layout-topbar {
  min-width: 375px;
}

.layout-wrapper.layout-menu-horizontal .layout-sidebar .layout-menu > li > a i.si-house-1 {
  margin-right: 0px;
}


.active-menu {
  background: var(--accent-light-color);
}

.layout-wrapper .layout-sidebar .layout-menu .active-menu > a,
.layout-wrapper .layout-sidebar .layout-menu .active-menu > a > i {
  color: var(--primary-color);
}

.active-submenu {
  background: var(--accent-light-color);
}

.active-submenu > span,
.layout-sidebar .layout-menu .ripplelink.active-submenu > i{
  color: var(--primary-color);
}

.active-submenu:hover > span {
  color: white;
}

.table-icon {
  position: relative;
  top: 3px;
  font-size: 1.3em !important;
  margin-right: 5px;
}

.icon-row {
  width: 40px;
  padding: 0px;
  text-align: center;
}

.detail-action-icon {
  margin-left: 4px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.detail-action-icon-bold {
  font-weight: bold;
  margin-left: 4px;
}

.ui-datatable .ui-column-filter {
  display: none;
}

.text-secondary {
  opacity: 0.65;
  font-size: 12px;
}

.task-detail-title {
  position: relative;
  margin-bottom: 14px;
  font-weight: bold;
}

.task-detail-action-container {
  position: absolute;
  top: -2px;
  right: 0px;
}

.task-detail-action-container .ui-commandlink {
  padding-top: 3px;
  padding-bottom: 3px;
}

.action-container {
  display: flex;
  align-items: center;
}

.task-action-item {
  margin: auto 7px;
}

.task-actions-link {
  margin: auto 10px;
  font-weight: normal;
}

.straight-text-icon {
  display: flex;
  align-items: center;
}

.no-padding-left {
  padding-left: 0px !important;
}

.u-padding-0 {
  padding: 0;
}

.signal-code-input > input {
  width: 100%;
}

.send-signal-button {
  width: 10em;
}

body .ui-panelgrid .ui-panelgrid-cell {
  padding: 8px;
}

.case-related-task-table {
  margin-bottom: 8px;
}

.case-related-task-case-running .ui-datascroller-loader {
  padding: 0px 10px;
}

.case-related-running {
  line-height: 2.2rem;
}

.case-map-element {
  height: 100%;
}

.case-map-icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  border-radius: 3px;
  margin-bottom: 10px;
}

.case-map-icon-container .current {
  color: #afca05;
}

.case-map-icon-container .visited {
  color: #555555;
}

.case-map-icon-container .waiting {
  color: #cccccc;
}

.case-map-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.case-map-container .process-flow {
  height: 50px;
  display: flex;
  flex-grow: 2;
  max-width: 60px;
}

.case-map-container .process-flow .flow-txt {
  position: relative;
  margin-top: 10px;
  float: left;
  width: 100%;
  text-align: center;
}

.process-flow .flow-txt .visible {
  width: 100%;
  height: 2px;
  margin: 0 auto;
  background: #cccccc;
}

.process-flow .flow-txt .none {
  width: 2px;
  height: 2px;
  margin: 0 auto;
  background: #cccccc;
}

.case-map-icon {
  font-size: 1.5em;
}

.stage-icon-container {
  position: absolute;
  margin-top: -60px;
  margin-left: 15px;
}

.case-map-state-icon {
  font-size: 0.9em;
  position: absolute;
  font-weight: bold;
  margin-top: 3px;
  margin-left: 3px;
}

.dot {
  position: absolute;
  background-color: #fff;
  border: 1px solid #212121;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.case-state-finished {
  color: #60B500;
}

.case-state-running {
  color: #006F94;
}

.case-map-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.case-column-details {
  border: 1px solid silver;
  box-shadow: 3px 3px 4px silver;
  padding: 0px;
}

.case-column-details-top {
  background: silver;
  padding: 10px;
  color: white;
}

.detail-title-icon {
  padding-right: 6px;
}

.related-task-content {
  line-height: 2rem;
}

.related-task-content, .case-related-running {
  padding: 5px 10px;
  border: 1px solid hsl(180, 1%, 85%);
}

.related-task-list-item-status {
  margin-right: 5px;
  display: block;
}

.related-element {
  margin-bottom: 10px;
}

.table-title-switch {
  display: flex;
  justify-content: space-between;
}

.ui-paginator .ui-paginator-rpp-options {
  padding: 0 1.4em 0 0.5em;
  border: 1px solid #aaa;
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image:
    url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .6em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.starts-project-name {
  color: #343232;
  font-weight: 700;
  margin-left: 6px;
}

.subtitle {
  font-size: 1.2em;
}

.card-header-title {
  font-weight: bold;
  font-size: 1.5em;
}

.ui-panelgrid-cell .custom-card {
  margin: 0px;
}

.custom-card {
  margin: 8px;
  min-height: 100px;
  height: 100%;
}

.sidesteps-button {
  border-left: 1px solid gray;
  margin: 0px;
  padding-left: 10px;
  font-weight: normal;
}

.menu-no-icons {
  width: 15em;
}

body .ui-menu.menu-no-icons .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-icon  {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.api-browser-frame {
  border: none;
  width: 100%;
  height: calc(100vh - 250px);
  min-height: 400px;
  margin-top: 10px;
}

.ui-accordion-content .start-element:hover {
  cursor: pointer;
  background-color: var(--item-background-hover);
}

.start-element > div.ui-panel-content {
  display: flex;
  align-items: center;
  padding: 0px;
}

.start-link {
  padding: 8px;
}

.custom-list {
  margin-top: 0px;
  padding: 0px;
}

.no-subcases {
  list-style-type: none;
}

.subcases-list {
  margin-top: 0px;
}

.current-hierarchy-case {
  font-weight: bold;
  max-width: fit-content;
}

.case-link {
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  max-width: max-content;
}

.case-link-icon {
  font-size: 1.3em;
  color: #333333;
}

.main-starts-container {
  margin-top: 10px;
}

.main-starts-container>div.ui-panel-content {
  padding: 0px;
}

.main-starts-container>div.ui-panel-content * {
  border: 0px;
  margin-bottom: 0;
}

.main-starts-container-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.custom-icon {
  font-size: 1.3em !important;
  margin-right: 5px;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.task-state-open {
  color: var(--primary-color);
}

.task-state-done, .case-state-done {
  color: green;
}

.task-state-reserved, .task-state-system {
  color: black;
}

.task-state-zombie-destroyed, .task-state-failed, .case-state-zombie-destroyed {
  color: red;
}

.task-state-waiting, .task-state-in-progress, .case-state-in-progress {
  color: goldenrod;
}

.static-message {
  margin-bottom: 10px;
}

.table-header-none thead {
  display: none;
}

.custom-grid > div{
  background: 0;
  border: 0;
}

.layout-wrapper .layout-main .layout-content {
  padding: 8px;
}

.layout-wrapper.layout-menu-horizontal .layout-topbar .topbar-logo {
  margin-right: 0px;
}

.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu > li.profile-item > a .profile-name {
  max-width: 100px;
}

body .ui-treetable thead th.ui-state-active, body .ui-datatable thead th.ui-state-active {
  background-color: white;
}

.topbar-logo img {
  width: 200px;
}

.dialog-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 14px;
  margin-right: 8px;
}

.dialog-cancel-button {
  margin-right: 8px;
  color: #555555;
}

@media only screen and (max-width: 480px) {
  .layout-wrapper.layout-menu-horizontal .layout-topbar .topbar-logo img {
    max-width: 150px;
  }
}
