<html>
  <head>
    <style><%= ivy.cm.co("/Notification/new-task/Templates/Default/mail/Resources/Style") %></style>
  </head>
  <body>
    <table>
      <tr>
        <td class="mail-content">
          <img
            class="logo"
            src="<%= ivy.branding.ref("logo_mail") %>"
            alt="Logo"
            height="16"
          />
          <hr />
          <h3><%= ivy.cm.co("/Notification/new-task/Labels/Title") %></h3>
          <p><%= ivy.cm.co("/Notification/new-task/Labels/Greeting") %> <%= ivy.session.getSessionUser().getFullName() %>,</p>
          <p><%= ivy.cm.co("/Notification/new-task/Labels/Description") %>.</p>
          <hr />
          <h3><%= ivy.cm.co("/Notification/new-task/Labels/Task/Title") %></h3>
          <table class="task-details">
            <tbody>
              <tr>
                <th><%= ivy.cm.co("/Notification/new-task/Labels/Task/Name") %></th>
                <td class="task-details-td"><%= ivy.html.escape(ivy.task.name) %></td>
              </tr>
              <tr>
                <th><%= ivy.cm.co("/Notification/new-task/Labels/Task/Description") %></th>
                <td class="task-details-td"><%= ivy.html.escape(ivy.task.description) %></td>
              </tr>
              <tr>
                <th><%= ivy.cm.co("/Notification/new-task/Labels/Task/Responsible") %></th>
                <td class="task-details-td"><%= ivy.html.escape(ivy.task.responsibles().displayName()) %></td>
              </tr>
              <tr>
                <th><%= ivy.cm.co("/Notification/new-task/Labels/Task/Priority") %></th>
                <td class="task-details-td"><%= ivy.cm.co("/Notification/new-task/Labels/Task/PriorityLabels/" + ivy.task.getPriority()) %></td>
              </tr>
              <tr>
                <th><%= ivy.cm.co("/Notification/new-task/Labels/Task/Created") %></th>
                <td class="task-details-td"><%= ivy.task.getStartTimestamp().format("short", "short") %></td>
              </tr>
              <tr>
                <th><%= ivy.cm.co("/Notification/new-task/Labels/Task/Expiry") %></th>
                <td class="task-details-td"><%= ivy.task.getExpiryTimestamp() is initialized ? ivy.task.getExpiryTimestamp().format("short", "short") : "-" %></td>
              </tr>
              <tr>
                <td class="start-task-action-td">
                  <table>
                    <tr>
                      <td class="actions-table-td" bgcolor="#006f94">
                        <a href="<%= ivy.task.getStartLinkEmbedded().getAbsoluteEncoded() %>">
                          <img src="<%= ivy.cm.ref("/Notification/new-task/Templates/Default/mail/Resources/Play") %>" height="12"/>
                          <!--[if mso]>&nbsp;<![endif]-->
                          <span class="start-task-action-span"><%= ivy.cm.co("/Notification/new-task/Labels/Actions/Start") %></span>
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table>
                    <tr>
                      <td class="actions-table-td" bgcolor="#d8d9d9">
                        <a href="<%= ivy.task.getDetailLink().getAbsoluteEncoded() %>">
                          <img src="<%= ivy.cm.ref("/Notification/new-task/Templates/Default/mail/Resources/Info") %>" height="12"/>
                          <!--[if mso]>&nbsp;<![endif]-->
                          <span class="task-details-action-span"><%= ivy.cm.co("/Notification/new-task/Labels/Actions/Details") %></span>
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <hr />
          <table class="footer">
            <tr>
              <td>
                <%= ivy.cm.co("/Notification/new-task/Labels/Footer/Sender") %> <a href="<%= ivy.html.applicationHomeLink().getAbsolute() %>"><%= ivy.application.getName() %></a>
              </td>
              <td class="right">
                <a href="<%= ivy.html.userNotificationSettingsLink().getAbsolute() %>"><%= ivy.cm.co("/Notification/new-task/Labels/Footer/Settings") %></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
