body {
  font-family: "Segoe UI", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

body,
table {
  font-size: 9pt;
  border-spacing: 0;
}

.mail-content {
  width: 800px;
}

logo {
  height: 16px;
}

hr {
  background-color: #d8d9d9;
  height: 1px;
  border: none;
  margin: 20px 0px;
}

h3 {
  font-size: 11pt;
  margin: 20px 0px;
}

.actions-table-td {
  border-radius: 5px;
  padding: 6px 10px;
}

a {
  text-decoration: none;
}

.case-details-action-span {
  color: #000000;
}

img,
span {
  vertical-align: middle;
}

.footer {
  font-size: 7pt;
  width: 100%;
}

.right {
  text-align: right;
}
