body {
  font-family: "Segoe UI", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

body,
table {
  font-size: 9pt;
  border-spacing: 0;
}

.mail-content {
  width: 800px;
}

.logo {
  height: 16px;
}

hr {
  background-color: #d8d9d9;
  height: 1px;
  border: none;
  margin: 20px 0;
}

h3 {
  font-size: 11pt;
  margin: 20px 0;
}

th {
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  padding: 0 30px 10px 0;
}

.task-details-td {
  color: #585656;
}

.start-task-action-td {
  padding-right: 10px;
}

.actions-table-td {
  border-radius: 5px;
  padding: 6px 10px;
}

a {
  text-decoration: none;
}

.start-task-action-span {
  color: #ffffff;
}

.task-details-action-span {
  color: #000000;
}

img,
span {
  vertical-align: middle;
}

.footer {
  font-size: 7pt;
  width: 100%;
}

.right {
  text-align: right;
}
